<h1>Editing recipe category</h1>

<%= render "form", recipe_category: @recipe_category %>

<br>

<div>
  <%= link_to "Show this recipe category", @recipe_category %> |
  <%= link_to "Back to recipe categories", recipe_categories_path %>
</div>
