<h1>Editing meal plan</h1>

<%= render "form", meal_plan: @meal_plan %>

<br>

<div>
  <%= link_to "Show this meal plan", @meal_plan %> |
  <%= link_to "Back to meal plans", meal_plans_path %>
</div>
