<% content_for :title, "Meal Plans" %>
<div class="container mt-2">
  <h1>Meal plans</h1>

  <div class="container mt-3 mb-5">
    <% @meal_plans.each do |meal_plan| %>
      <div class="d-flex justify-content-between">
        <div>
          <% if meal_plan.start_date <= Date.today && Date.today <= meal_plan.end_date%>
            <%= link_to "#{meal_plan.start_date.strftime('%d.%m')}-#{meal_plan.end_date.strftime('%d.%m')}", meal_plan, class:"btn text-start fw-bold"%>
          <% else %>
            <%= link_to "#{meal_plan.start_date.strftime('%d.%m')}-#{meal_plan.end_date.strftime('%d.%m')}", meal_plan, class:"btn text-start"%>
          <% end %>
        </div>
        <div>
          <%= link_to "", edit_meal_plan_path(meal_plan), class:"btn bi bi-pencil" %>
        </div>
      </div>
    <% end %>
  </div>
</div>