<% content_for :title, "New Meal Plan" %>
<div class="container mt-3">
  <h1>New meal plan</h1>

  <%= render "form", meal_plan: @meal_plan %>

  <br>

  <div>
    <%= link_to "Back to meal plans", meal_plans_path, class:"btn btn-dark mb-5" %>
  </div>
</div>
