<% content_for :title, "Edit #{@recipe.name}" %>
<div class="container">
  <h1>Editing recipe</h1>

  <%= render "form", recipe: @recipe %>

  <br>

  <div>
    <%= link_to "Back to recipes", recipes_path, class:"btn btn-dark mb-5" %>
  </div>
</div>