<h1>Recipes</h1>
<div class="container mt-3 mb-5">
  <% @recipe_categories.each do |category| %>
    <h3><%= category.name %></h3>
    <%= render 'recipes/recipes', id: category.id %>
  <% end %>

  <%= link_to "New recipe", new_recipe_path, class:"btn btn-dark", style:"position: fixed; bottom: 40px; right: 2px;" %>
</div>




