<% content_for :title, "Recipes" %>
<div class="container mt-2">
  <h1>Recipes</h1>
  <div class="container mt-3 mb-5">
    <% @recipe_categories.each do |category| %>
      <h4 class="text-center border border-dark border-2 rounded-pill bg-dark text-light"><%= category.name %></h4>
      <%= render 'recipes/recipes', id: category.id %>
    <% end %>
  </div>
</div>