<% content_for :title, @recipe.name %>
<div class="container">

  <%= render @recipe %>
  
  <div class="mt-3 mb-5">
    <%= link_to "Back to recipes", recipes_path, class:"btn btn-dark" %>
  </div>
</div>