<div class="d-grid gap-1 col-12 d-flex fixed-bottom">
  <%= link_to "Recipes", '#', class: 'btn' %>
  <%= link_to "MealPlans", '#', class: 'btn' %>
  <%= link_to "ShoppingList", '#', class: 'btn' %>
</div>