<h1>Editing all product</h1>

<%= render "form", all_product: @all_product %>

<br>

<div>
  <%= link_to "Show this all product", @all_product %> |
  <%= link_to "Back to all products", all_products_path %>
</div>
