<h1>Editing recipe done</h1>

<%= render "form", recipe_done: @recipe_done %>

<br>

<div>
  <%= link_to "Show this recipe done", @recipe_done %> |
  <%= link_to "Back to recipe dones", recipe_dones_path %>
</div>
