<p style="color: green"><%= notice %></p>

<h1>Recipe dones</h1>

<div id="recipe_dones">
  <% @recipe_dones.each do |recipe_done| %>
    <%= render recipe_done %>
    <p>
      <%= link_to "Show this recipe done", recipe_done %>
    </p>
  <% end %>
</div>

<%= link_to "New recipe done", new_recipe_done_path %>
