<div id="<%= dom_id shopping_list %>">
  <div class="d-flex justify-content-between">
    <div>
      <%= shopping_list.product_category %>
    </div>
    <div>
      <%= shopping_list.product_name %>
    </div>

    <div>
      <%= shopping_list.product_quantity %>
    </div>
  </div>
</div>
