<div class="container mt-2">
  <h3>Edit <%= @shopping_list.product_name %> category</h3>
  <%= form_with(model: @shopping_list) do |form| %>
    <%= form.select :product_category, options_for_select(@product_categories.collect { |cat| [cat.name, cat.name] }), {}, {class:"form-select"}%>
    <%= form.submit "Update", class:"btn btn-dark mt-2" %>
  <% end %>
</div>