<h1>Shopping list</h1>
<%= button_to "Clear", shopping_lists_path, method: :delete, class:"btn" %>

<div id="shopping_lists">
  <% @shopping_lists.each do |shopping_list| %>
    <%= render shopping_list %>
  <% end %>
</div>

<%= render "form", shopping_list: @shopping_list%>