<div class="d-flex justify-content-around fixed-bottom bg-dark">
  <%= link_to "Recipes", recipes_path, class: 'btn text-light my-2' %>
  <%= link_to "MealPlans", meal_plans_path, class: 'btn text-light my-2' %>
  <%= link_to "ShoppingList", shopping_lists_path, class: 'btn text-light my-2' %>
</div>