<div class="d-grid gap-1 col-12 d-flex fixed-bottom bg-dark">
  <%= link_to "Recipes", recipes_path, class: 'btn text-light' %>
  <%= link_to "MealPlans", '#', class: 'btn text-light' %>
  <%= link_to "ShoppingList", '#', class: 'btn text-light' %>
</div>