<div class="d-flex justify-content-around fixed-bottom bg-dark">
  <%= link_to "Recipes", recipes_path, class: 'btn text-light' %>
  <%= link_to "MealPlans", meal_plans_path, class: 'btn text-light' %>
  <%= link_to "ShoppingList", '#', class: 'btn text-light' %>
</div>