<nav class="navbar navbar-dark bg-dark sticky-top">
  <div class="container-fluid">
    <span class="navbar-brand mb-0 h1">Papumat 2.0</span>
    <div class="d-flex justify-content-end">
      <%= render 'layouts/navbar_links' %>
    </div>
  </div>
</nav>