<nav class="navbar navbar-light bg-light">
  <div class="container-fluid">
    <span class="navbar-brand mb-0 h1">Papumat 2.0</span>
    <ul class="nav justify-content-end">
      <li class="nav-item">
        <%= link_to @user.email, user_path(@user) %>
      </li>
    </ul>
  </div>
</nav>