      <%= link_to "", new_recipe_path, class:"btn bi bi-plus-lg text-light" if current_page?(recipes_path) %>

      <%= link_to "", new_meal_plan_path, class:"btn bi bi-plus-lg text-light" if current_page?(meal_plans_path) %>

      <% if current_page?(shopping_lists_path) %>
       <a id="formShowButton" class="btn bi bi-plus-lg text-light" onclick="showForm()"> </a> 
      <% end %>

      <%= button_to "", shopping_lists_path, method: :delete, class:"btn bi bi-trash text-light" if current_page?(shopping_lists_path)  %>


      <%= button_to "", destroy_user_session_path, method: :delete, class:"btn bi bi-box-arrow-right text-light" if current_user %>